@{
    ViewData["Title"] = "My Services";
    
    ViewData["ServiceTitle1"] = "Auto Mart";
	ViewData["ServiceCreate1"] = "Dec 15, 2017 9:17 am";
	
	ViewData["ServiceTitle2"] = "IX";
	ViewData["ServiceCreate2"] = "Mar 15, 2017 9:17 am";
	
	ViewData["ServiceTitle6"] = "OLX";
	ViewData["ServiceCreate6"] = "Dec 15, 2017 9:17 am";
	
	ViewData["ServiceTitle3"] = "Bidvest McCarthy Toyota";
	ViewData["ServiceCreate3"] = "Feb 10, 2017 9:48 am";
	
	ViewData["ServiceTitle4"] = "Junk Mail";
	ViewData["ServiceCreate4"] = "Jan 16, 2017 9:17 am";
	
	ViewData["ServiceTitle5"] = "Mascus";
	ViewData["ServiceCreate5"] = "Mar 15, 2017 9:17 am";
}


<section class="section pt-4">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col text-right">
				<a href="/search" class="btn btn-outline-primary"><i class="fas fa-plus"></i> New Service</a>
			</div>
		</div>	
		
		<div class="row">
			<div class="col">
				<table class="table table-lg table-hover">
					<tbody>
						<tr>
							
							<td class="text-center align-middle"><img src="~/images/logos/automart.svg" style="width: 120px;"></td>
							<td>
								<h5><a href="/service-automart">@ViewData["ServiceTitle1"]</a></h5>
								<div>Created <b>@ViewData["ServiceCreate1"]</b></div>
							</td>
							<td>
								<div>Last requested: <b>Today at 10:04 am</b></div>
								<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">30</a></h5>
										<div><i class="fas fa-users"></i> Dealers</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">4</a></h5>
										<div><i class="fas fa-tags"></i> Categories</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">5</a></h5>
										<div><i class="icon-blender"></i> Blends</div>
									</div>
								</div>
							</td>
							<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
						</tr>
						<tr>
							
							<td class="text-center align-middle"><img src="~/images/logos/olx.svg" style="width: 60px;"></td>
							<td>
								<h5><a href="/service-olx">@ViewData["ServiceTitle6"]</a></h5>
								<div>Created <b>@ViewData["ServiceCreate6"]</b></div>
							</td>
							<td>
								<div>Last requested: <b>Today at 10:04 am</b></div>
								<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">30</a></h5>
										<div><i class="fas fa-users"></i> Dealers</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">4</a></h5>
										<div><i class="fas fa-tags"></i> Categories</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">1</a></h5>
										<div><i class="icon-blender"></i> Blends</div>
									</div>
								</div>
							</td>
							<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
						</tr>
						<tr>
							
							<td class="text-center align-middle"><img src="~/images/logos/ix.svg" style="width: 70px;"></td>
							<td>
								<h5><a href="/service-ix">@ViewData["ServiceTitle2"]</a></h5>
								<div>Created <b>@ViewData["ServiceCreate2"]</b></div>
							</td>
							<td>
								<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
								
								<div class="text-truncate">Last status code: <a href="javascript:void(0)" data-toggle="modal" data-target="#connectionModal" class="badge badge-pill badge-danger"><i class="fas fa-exclamation-circle"></i> Edit Connection</a></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">15</a></h5>
										<div><i class="fas fa-users"></i> Dealers</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">3</a></h5>
										<div><i class="fas fa-tags"></i> Categories</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">1</a></h5>
										<div><i class="icon-blender"></i> Blends</div>
									</div>
								</div>
							</td>
							<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
						</tr>
						<tr>
							
							<td class="text-center align-middle"><img src="~/images/logos/toyota.svg" style="width: 70px;"></td>
							<td>
								<h5><a href="/service-toyota">@ViewData["ServiceTitle3"]</a></h5>
								<div>Created <b>@ViewData["ServiceCreate3"]</b></div>
							</td>
							<td>
								<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
								<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">29</a></h5>
										<div><i class="fas fa-users"></i> Dealers</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">2</a></h5>
										<div><i class="fas fa-tags"></i> Categories</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">1</a></h5>
										<div><i class="icon-blender"></i> Blends</div>
									</div>
								</div>
							</td>
							<td><a href="/new-blend" class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
						</tr>
						<tr>
							
							<td class="text-center align-middle"><img src="~/images/logos/junkmail.svg" style="width: 120px;"></td>
							<td>
								<h5><a href="/service-junkmail">@ViewData["ServiceTitle4"]</a></h5>
								<div>Created <b>@ViewData["ServiceCreate4"]</b></div>
							</td>
							<td>
								<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
								<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">10</a></h5>
										<div><i class="fas fa-users"></i> Dealers</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">2</a></h5>
										<div><i class="fas fa-tags"></i> Categories</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">1</a></h5>
										<div><i class="icon-blender"></i> Blends</div>
									</div>
								</div>
							</td>
							<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
						</tr>
						<tr>
							
							<td class="text-center align-middle"><img src="~/images/logos/mascus.svg" style="width: 120px;"></td>
							<td>
								<h5><a href="/service-mascus">@ViewData["ServiceTitle5"]</a></h5>
								<div>Created <b>@ViewData["ServiceCreate5"]</b></div>
							</td>
							<td>
								<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
								<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">10</a></h5>
										<div><i class="fas fa-users"></i> Dealers</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">2</a></h5>
										<div><i class="fas fa-tags"></i> Categories</div>
									</div>
									<div class="col">
										<h5><a href="javascript:void(0)">1</a></h5>
										<div><i class="icon-blender"></i> Blends</div>
									</div>
								</div>
							</td>
							<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</section>


<section class="section pt-4">
	<div class="container-fluid">
		<div class="text-center empty-state">
			<p>You don’t have any Services connected</p>
			<p>Blends work with all your favourite services</p>
			<a href="/search" class="btn btn-primary mt-3"><i class="fas fa-plus"></i> Setup service</a>
		</div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">IX connection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h4>Account URL</h4>
		<div class="mb-4">
			<input type="text" class="form-control form-control-lg" id="" placeholder="https://...">
		</div>
		<h4 class="text-center">Dealer ID</h4>
		<div class="mb-4">
			<input type="text" class="form-control form-control-lg" id="" placeholder="id...">
		</div>
		<h4 class="text-center">Log in</h4>
		<div class="large-input mb-4">
			<input type="text" class="form-control form-control-lg mb-2" id="" placeholder="username...">
			<input type="text" class="form-control form-control-lg" id="" placeholder="password...">
		</div>
		<a href="/service" class="btn btn-primary mt-2">Connect</a>
      </div>
    </div>
  </div>
</div>

@section Scripts {

}