@{
    ViewData["Title"] = "My Services";
    
    ViewData["ServiceTitle1"] = "My Service Name";
	ViewData["ServiceIcon1"] = "fa-freebsd";
	ViewData["ServiceCreate1"] = "Dec 15, 2017 9:17 am";
	
	ViewData["ServiceTitle2"] = "Other Service Name";
	ViewData["ServiceIcon2"] = "fa-grav";
	ViewData["ServiceCreate2"] = "Mar 15, 2017 9:17 am";
	
	ViewData["ServiceTitle3"] = "Bidvest McCarthy Toyota";
	ViewData["ServiceIcon3"] = "fa-grunt";
	ViewData["ServiceCreate3"] = "Feb 10, 2017 9:48 am";
	
	ViewData["ServiceTitle4"] = "Third Service Name";
	ViewData["ServiceIcon4"] = "fa-codepen";
	ViewData["ServiceCreate4"] = "Jan 16, 2017 9:17 am";
}


<section class="section pt-4">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col text-right">
				<a href="/search" class="btn btn-outline-primary"><i class="fas fa-plus"></i> New Service</a>
			</div>
		</div>
	</div>
	
		
		
		<table class="table table-lg table-hover">
			<tbody>
				<tr>
					
					<td class="text-center align-middle"><i class="fab @ViewData["ServiceIcon1"] fa-2x"></i></td>
					<td>
						<h5><a href="/service">@ViewData["ServiceTitle1"]</a></h5>
						<div>Created <b>@ViewData["ServiceCreate1"]</b></div>
					</td>
					<td>
						<div>Last requested: <b>Today at 10:04 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">30</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">148</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">3</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				<tr>
					
					<td class="text-center align-middle"><i class="fab @ViewData["ServiceIcon2"] fa-2x"></i></td>
					<td>
						<h5><a href="/service-one">@ViewData["ServiceTitle2"]</a></h5>
						<div>Created <b>@ViewData["ServiceCreate2"]</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">15</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">97</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">3</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				<tr>
					
					<td class="text-center align-middle"><i class="fab @ViewData["ServiceIcon3"] fa-2x"></i></td>
					<td>
						<h5><a href="/service-two">@ViewData["ServiceTitle3"]</a></h5>
						<div>Created <b>@ViewData["ServiceCreate3"]</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-danger">Uhrm.. something's wrong!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">29</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">348</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">3</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				<tr>
					
					<td class="text-center align-middle"><i class="fab @ViewData["ServiceIcon4"] fa-2x"></i></td>
					<td>
						<h5><a href="/service-three">@ViewData["ServiceTitle4"]</a></h5>
						<div>Created <b>@ViewData["ServiceCreate4"]</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 17, 2017 10:32 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">10</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">28</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">3</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				
			</tbody>
		</table>

</section>


<section class="section pt-4">
	<div class="container-fluid">
		<div class="text-center empty-state">
			<p>You don’t have any Services connected</p>
			<p>Blends work with all your favourite services</p>
			<a href="/search" class="btn btn-primary mt-3"><i class="fas fa-plus"></i> Setup service</a>
		</div>
	</div>
</section>

@section Scripts {

}